@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Primary Colors
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// Neutral Colors
$very-dark-blue-main-bg: hsl(217, 54%, 11%);
$very-dark-blue-card-bg: hsl(216, 50%, 16%);
$very-dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

html,
body {
  height: 100%;
  width: 100%;

  background-color: $very-dark-blue-main-bg;
  font-family: 'Outfit', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  color: white;
  background-color: $very-dark-blue-card-bg;
  border-radius: 18px;
  padding: 1rem;
  position: relative;

  img {
    width: 300px;
    border-radius: 15px;
  }

  h2 {
    align-self: flex-start;
  }

  .soft-blue {
    color: $soft-blue;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    column-gap: 6rem;
    .icon {
      width: 1rem;
      height: 1rem;
      margin: 0 0.3rem;
    }
    .eth-text {
      color: cyan;
    }
  }

  hr {
    width: 100%;
    background-color: $very-dark-blue-line;
    height: 1.5px;
    border: none;
  }

  p span {
    color: white;
  }

  .avatar-img {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    object-position: center;
  }

  .credit-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    margin-right: 2.4rem;
  }
}

.hover:hover {
  color: cyan !important;
}

.eye-img {
  scale: 0.2;
  position: absolute;
  top: 5%;
  left: 1%;
  opacity: 0;
}

.img-container:hover .eye-img {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.img-container {
  position: relative;
}

.img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background-color: cyan;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 15px;
}

.img-container:hover::before {
  opacity: 0.5;
}

p a {
  text-decoration: none !important;
  color: white !important;
}
